{{!-- <h3>{{viewTitle}}</h3> --}}

<form action="/student" method="POST" autocomplete="off">

  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="date" type="date" value="{{date}}" />
    </div>
    <div class="form-group col-md-6">
      <select
        name="mealType"
        class="form-select"
        aria-label="Default select example"
      >
        <option {{var0}}>Select Meal</option>
        <option {{var1}} value="B">Breakfast</option>
        <option {{var2}} value="L">Lunch</option>
        <option {{var3}} value="S">Snacks</option>
        <option {{var4}} value="D">Dinner</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Roll Number</label>
    <input type="text" class="form-control" name="rollNumber" />
    <div style="display:{{invalid}}; margin: 10px 0px 0px 0px;" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Opps!</strong>
      Invalid UserId. Please Try again.
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>
      Validate</button>
  </div>
</form>